/*-----------------NAV BAR-----------------*/
.nav{
    height: 75px;
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/*-----------------MAIN-----------------*/
.main-container{
    display: flex;
}
/*-----------------LEFT-----------------*/
.entry{
    display: flex;
    width: 450px;
}
.word{
    font-size: 25px;
    font-weight: bold;
}
/*-----------------RIGHT-----------------*/
.adddef{
    width: 200px;
}
/*-----------------ALL-----------------*/
.box{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid rebeccapurple;
}
.btn{
    box-shadow: 2px 2px 2px black;
    background-color: chartreuse;
}
.link{
    text-decoration: blue underline;
    color: blue;
}
.italic{
    font-style: italic;
}
.col{
    flex: 1;

}
.col-2{
    flex: 2;
}
